<h1>Welcome to the Captain Game </h1>
<h3>May the Gods be ever in your favor</h3>
<br>
<h5>Choose your weapon and character, and let the battle begin!</h5>
<br>
<%= link_to "Create a new Arena to start", new_arena_path, class: "btn btn-light"%>